.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: #fff;
  width: 1000px;
  height: 427px;
  border-radius: 7px;

  position: absolute;
  top: 250px;
  left: 138px;
  transition: all 1s ease-in-out;
}

.popup .close {
  position: absolute;
  top: -20px;
  left: 97%;
  transition: all 200ms;
  margin: 0;
  padding: 0;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
